@import "./base.css";

:root {
  --primary-100: #e6e5ea;
  --primary-300: #817d92;
  --primary-500: #24232c;
  --primary-900: #18171f;
  --secondary: #a4ffaf;
  --too-weak: #f64a4a;
  --weak: #fb7c58;
  --medium: #f8cd65;
  --strong: #a4ffaf;
  --placeholder: #979797;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: var(--primary-900);
  height: 100dvh;
  width: 100dvw;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
